<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item lines="" detail="false" [routerLink]="['']">
            <ion-list-header>Home</ion-list-header>
            <ion-avatar slot="start">
              <ion-img src="https://raw.githubusercontent.com/QuarenDevs/RepositorioPruebaGitFlow/master/Resources/CuarenDevsLogo.png"></ion-img>
            </ion-avatar>
          </ion-item>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" detail="false" [routerLink]="p.url">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
